
.home-introText {

    font-size: 12pt;
    color: #999;
    box-shadow: 0px 0px 5px #888888;
    padding: 20px;
    margin-bottom: 30px;

}

.home-post-content
{
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.home-header {

}
